<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:ws="http://jax-ws.dev.java.net/spring/core"
    xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd        
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://jax-ws.dev.java.net/spring/core
	    http://jax-ws.java.net/spring/core.xsd
	    http://jax-ws.dev.java.net/spring/servlet
	    http://jax-ws.java.net/spring/servlet.xsd">
	    
	    <mvc:annotation-driven />
    <mvc:resources mapping="/resources/**" location="/resources/" />
    <tx:annotation-driven/>

    <context:component-scan base-package="com.siva.controller, com.siva.service, com.siva.domain, com.siva.dao" /> 
	<context:component-scan base-package="com.siva.util, com.siva.ws.service"/>
	<context:property-placeholder location="classpath:database.properties"/>
	    
	<wss:binding url="/routeWS">
        <wss:service>
            <ws:service bean="#routeWS"/>
        </wss:service>
    </wss:binding>

    <!-- Web service methods -->
 <bean id="routeWS" class="com.siva.ws.service.RouteWSServiceImpl"></bean>

<bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource">    
	    <property name="driverClassName" value="${hibernate.driver.classname}" />
	    <property name="url" value="${hibernate.url}" />
	    <property name="username" value="${hibernate.username}" />
	    <property name="password" value="${hibernate.password}" /> 
	</bean>
	
	<bean id="sessionFactory"
	  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	    <property name="dataSource" ref="dataSource" />
	    <property name="packagesToScan" value="com.siva.domain" />
	    <property name="hibernateProperties">
	        <props>
	            <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
	            <prop key="hibernate.dialect">${hibernate.dialect}</prop>
	        </props>
	    </property>
	</bean>
 

 
<bean id="transactionManager"
  class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory" />
</bean>
 
<bean id="persistenceExceptionTranslationPostProcessor"
  class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
    
    	    
	    </beans>